<h2 class="heading mb-20">Soupiska týmu <span data-team-name></span></h2>
<div class="table" data-players-table>
    <div class="row text-bold" data-sort-control>
        <div class="col-20">
            <div class="clickable-el" data-sort="name">Jméno</div>
        </div>
        <div class="col-20">
            <div class="clickable-el" data-sort="age">Věk</div>
        </div>
        <div class="col-20">
            <div class="clickable-el" data-sort="position">Pozice</div>
        </div>
        <div class="col-20">
            <div class="clickable-el" data-sort="price">Cena</div>
        </div>
    </div>
    <hr class="separator mt-10 mb-10">
    <div data-sort-data="players"></div>
</div>
