<h2 class="heading mb-20">Vyber tým</h2>
<div class="table" id="team-list">
    <div class="row text-bold" data-sort-control>
        <div class="col-20">
            <div>Tým</div>
        </div>
        <div class="col-20">
            <div class="clickable-el" data-sort="stadium">Stadion</div>
        </div>
        <div class="col-20">
            <div class="clickable-el" data-sort="capacity">Kapacita</div>
        </div>
        <div class="col-20">
            <div class="clickable-el" data-sort="city">Město</div>
        </div>
        <div class="col-20">
            <div class="clickable-el" data-sort="sponsor">Sponzor</div>
        </div>
    </div>
    <hr class="separator mt-10 mb-10">
    <div data-team-list></div>
</div>