<h2 class="heading mb-20">Vyber tým</h2>
<div class="table" id="team-list">
    <div class="row text-bold" data-sort-control>
        <div class="col-20">
            <div class="clickable-el" data-sort="name" data-direction="asc">Tým</div>
        </div>
        <div class="col-20">
            <div class="clickable-el" data-sort="stadium" data-direction="asc">Stadion</div>
        </div>
        <div class="col-20">
            <div class="clickable-el" data-sort="capacity" data-direction="asc">Kapacita</div>
        </div>
        <div class="col-20">
            <div class="clickable-el" data-sort="city" data-direction="asc">Město</div>
        </div>
        <div class="col-20">
            <div class="clickable-el" data-sort="sponsor" data-direction="asc">Sponzor</div>
        </div>
    </div>
    <hr class="separator mt-10 mb-10">
    <div data-sort-data="teams"></div>
</div>
